@model MVCBasico.Models.Reserva

@{
    ViewData["Title"] = "Details";
}


<div class="texto4 row justify-content-center">
    <h4>Detalle</h4>
</div>

<div class="img5 row justify-content-center">
    <img src=" @Html.DisplayFor(model => model.Comercio.FotoComercio)" style=" width: 15rem;" class="img-thumbnail" />
</div>

<br />

<div class="form-details row justify-content-center">
    <hr />
    <dl class="row justify-content-center">
        <dt class="col-sm-2 row justify-content-center">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10 row justify-content-center">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2 row justify-content-center">
            @Html.DisplayNameFor(model => model.Comercio)
        </dt>
        <dd class="col-sm-10 row justify-content-center">
            @Html.DisplayFor(model => model.Comercio.Nombre)
        </dd>
        <dt class="col-sm-2 row justify-content-center">
            @Html.DisplayNameFor(model => model.Comercio.Direccion)
        </dt>
        <dd class="col-sm-10 row justify-content-center">
            @Html.DisplayFor(model => model.Comercio.Direccion)
        </dd>
        <dt class="col-sm-2 row justify-content-center"
            >
            @Html.DisplayNameFor(model => model.Comercio.Telefono)
        </dt>
        <dd class="col-sm-10 row justify-content-center">
            @Html.DisplayFor(model => model.Comercio.Telefono)
        </dd>
        <dt class="col-sm-2 row justify-content-center">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10 row justify-content-center ">
            @Html.DisplayFor(model => model.Usuario.Mail)
        </dd>
    </dl>
</div>

<div class="editar row justify-content-center">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <input type="submit" value="Editar" class="btn btn-primary" />
    </a>
</div>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
