@model IEnumerable<MVCBasico.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Reservas</h1>

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <input type="submit" value="Cerrar Sesion" class="btn btn-danger" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comercio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comercio.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comercio.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comercio.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

